.App {
  text-align: center;
  margin-top: 100px;
}
.stopwatch{
  height: 100px;
  width: 300px;
  margin: 5px;
  /* font-size: 50px; */
/* line-height: 50px; */
}

.customButton {margin: 5px;}
.customBorder {margin: 5px;}
.timer{
  height: 100px;
  width: 300px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.side{
  width: 20%;
  float: left;
}
.main{
  width: 70%;
  float: left;
  margin: 0%;
}
.navItem{
  line-height: 50px;
  display: block;
  border: 1px solid white;
  width:150px;
  color:white;
  text-decoration: none;
  background-color: green;
}
Link:hover{
  background-color: white;
  color: green;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
